@model PetPet.Models.Post
@{
    /**/

    ViewBag.Title = Model.Post_title;
    var semail = "";
    var postDel = "";
    var postEdit = "";
    var message = Model.Messenger.Where(m => m.Post_no == Model.Post_no).ToList();
    int x = message.Count();
    semail = Session["semail"].ToString();
    if (Session["semail"].ToString() == Model.Post_Email)
    {
        postDel = "刪除貼文";
        postEdit = "編輯貼文";
    }
    else
    {
        postDel = " ";
    }
}

<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row pt-5">
    @*<div class="container NEWrounded-top " style=" background-color:white">*@
        <br />
        <div class="card bg-light NEWrounded-top col-sm-12">
            <div class="card-header bg-light NEWrounded-top">
                <h3 class="Myfont">@Html.DisplayFor(model => model.Post_title)</h3>
                <input id="DPostNo" type="text" value="@Model.Post_no" class="d-none" />
            </div>
            <div class="card-body text-center">
                <div id="carouselOne" class="carousel slide carousel-fade" data-ride="carousel">

                    <ol class="carousel-indicators">
                        @{
                            var imgint = Model.Post_img.Where(m => m.Post_no == Model.Post_no).ToList();
                            int imgNo = imgint.Count();

                            for (int i = 0; i < imgNo; i++)
                            {
                                <li data-target="#carouselOne" data-slide-to="@i"></li>
                            }
                        }
                    </ol>
                    <div class="carousel-inner">
                        @{
                            int k = 0;
                            var hhh = "active";
                        }
                        @foreach (var img in imgint)
                        {
                            var postno = img.Post_photo.ToString();
                            if (k > 0) { hhh = ""; };
                            k += 1;
                            <div class="carousel-item @hhh">
                                <img src="~/images/postimg/@postno" class="d-block w-100 img-fluid NEWrounded-all" />
                                <div class="carousel-caption MyFont">
                                    <h5><strong class="font bg-danger rounded">@Model.Post_content</strong></h5>
                                </div>
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselOne" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselOne" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
                @*<img src="~/images/postimg/@Model.Post_img" style="width:70%;" />*@
            </div>
            @Html.Action("_Like", "Like", new { PostId = Model.Post_no })
            <a href="#" id="showmsgBtn">查看全部留言</a>
            <br />
            <div class="card-footer bg-light">
                @Html.Action("_MsgForPost", "Message", new { PostId = Model.Post_no })
            </div>
            @Html.ActionLink("返回", "PostIndex")
            @*@Html.ActionLink("編輯貼文", "EditPost", new { @name = Model.Post_no })*@
            @Html.ActionLink(postDel, "DeletePost", new { @name = Model.Post_no }, new { onclick = "return confirm('刪除就再也看不到囉!!您確定嗎??> <您先前獲得的愛心與取暖都會全部消失ㄛ!')" })
            <a id="ToEditPost" data-target="#EditPost" href="#"
               data-toggle="modal" onclick="$('#Eid').val(@Model.Post_no);$('#EdPost').val('@Model.Post_content');
                       $('#Etitle').val('@Model.Post_title')">
                @postEdit
            </a>
            <div class="modal" id="ForMessage" role="dialog">
                <form method="post" action="@Url.Action("FMessage", "Message", new { id = Model.Post_no })">
                    <div class="modal-dialog">
                        <div class="modal-content bg-petpet">
                            <div class="modal-header">
                                <h3 class="modal-title">回覆留言</h3>
                                <a class="close" data-dismiss="modal">×</a>
                            </div>
                            <div class="modal-body">
                                <input id="ForMsg" type="text" name="ForMsg" class="form-control offset-2 col-sm-7"
                                       required />
                                <br />
                                <div class="text-right">
                                    <button class="btn btn-info" type="submit">回覆</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            @*編輯貼文*@
            <div class="modal" id="EditPost" role="dialog">
                <div class="modal-dialog modal-lg">
                    <form method="post" action="@Url.Action("EditPost", "Post", new { id = Model.Post_no })" enctype="multipart/form-data">
                        <div class="modal-content bg-light">
                            <div class="modal-header">
                                <h3 class="modal-title">編輯貼文</h3>
                                <a class="close" data-dismiss="modal" style="cursor:pointer">×</a>
                            </div>

                            <div class="modal-body">
                                <input id="Eid" type="text" name="Eid" class="form-control offset-2 col-sm-7 d-none"
                                       required />
                                <br />
                                <input id="Etitle" type="text" name="Etitle" class="form-control offset-2 col-sm-7 txtbox"
                                       required />
                                <br />
                                <input id="EdPost" type="text" name="EdPost" class="form-control offset-2 col-sm-7 txtbox"
                                       required />
                                <br />
                                <input id="status" name="status" type="text" value="0" class="d-none" />

                                <span id="ShowUpImg" class="btn btn-info" style="cursor:pointer">我要新增圖片</span>

                                <label id="bbb" class="d-none">
                                    <input id="EditPostPhoto" name="EditPostPhoto" class="d-none" type="file" multiple="multiple">
                                    <img src="~/images/camera.png" style="width:3em;cursor:pointer;" />
                                </label>

                                <div class="input-group col-md-10">
                                    @foreach (var Edimg in Model.Post_img)
                                    {
                                        var postno = Edimg.Post_photo.ToString();
                                        <div class="input-group-prepend col-md-3">
                                            <div class="input-group-text">
                                                <input type="checkbox" name="EdimgNo" value="@Edimg.Photo_no" aria-label="Checkbox for following text input">
                                            </div>
                                            <img id="" src="~/images/postimg/@postno" style="width:50%;height:100%" />
                                        </div>
                                    }
                                </div>
                                <div id="ViewImg" style="width:100%; overflow:hidden;">
                                    <p>目前沒有新增新圖片ㄛ~</p>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-info" type="submit">送出</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

@if (TempData["msg"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["msg"]));
        alert(message);
    </script>
}

@section scripts{
    <script>
        $(document).ready(
            function () {
                $('#MsgAjax').addClass('d-none');
            }
        );
        $('#showmsgBtn').click(function () {
            var strShow = $('#showmsgBtn').text();
            console.log($('#showmsgBtn').text())
            if (strShow == '查看全部留言') {
                $('#showmsgBtn').text('隱藏全部留言');
                $('#MsgAjax').removeClass('d-none');
            }
            else {
                $('#showmsgBtn').text('查看全部留言');
                $('#MsgAjax').addClass('d-none');
            }

        });
        $("#EditPostPhoto").change(function () {
            $("#ViewImg").html(""); // 清除預覽
            readURL(this);
        });

        function readURL(input) {
            if (input.files && input.files.length > 0) {
                for (var i = 0; i < input.files.length; i++) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var img = $("<img class='w-25'>").attr('src', e.target.result);
                        $('#ViewImg').append(img);
                    }
                    reader.readAsDataURL(input.files[i]);
                }
            }

            else {
                var noPhoto = $("<p>目前沒有新增新圖片ㄛ~</p>");
                $("#ViewImg").append(noPhoto);
            }
        }
        $('#ShowUpImg').click(function () {
            var BtnText = $('#ShowUpImg').text();
            if (BtnText == "我要新增圖片") {
                $('#status').val('1');
                $('#EditPostPhoto').attr('required', 'true');
                $('#bbb').removeClass('d-none');
                $('#ShowUpImg').text("取消上傳");
            }
            else {
                $('#ShowUpImg').text("我要新增圖片")
                $('#status').val('0')
                $('#EditPostPhoto').removeAttr('required', 'true');
                $('#bbb').addClass('d-none');
            }
        });
    </script>
}